@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Hello Q2 Folks Michael Pack, Joe Hajovsky, Michael Schaefer!</title>
</head>
<body>
    <div>
        Hello Q2 Folks Michael Pack, Joe Hajovsky, Michael Schaefer! Maybe a game
    </div>

    <iframe src="https://www.google.com/logos/2010/pacman10-i.html" width="800" height="600"></iframe>
</body>
</html>